@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-bg:#2A2B2B;
  --color-dim-gray:#878787;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
--font-Inter: "Inter", sans-serif;

}
.silver-border {
  border: 1px solid rgba(192, 192, 192, 0.4); /* faded opacity */
  border-radius: 6px;
}



.silver-border:hover {
  border-color: white;        /* change to gray on hover */
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
